pkgbase = wrkx-misc-meta
	pkgdesc = Meta-package for misc packages
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = GPL
	depends = discord-canary
	depends = dragon-drop
	depends = fastfetch
	depends = fzf
	depends = g4music
	depends = ttf-jetbrains-mono-nerd
	depends = ttf-jetbrains-mono
	depends = lib32-nvidia-utils
	depends = nvidia-settings
	depends = ouch
	depends = otf-font-awesome
	depends = pacman-contrib-git
	depends = socat
	depends = stow
	depends = thunar
	depends = thunar-archive-plugin
	depends = ttf-iosevka-nerd
	depends = unarchiver
	depends = xdg-desktop-portal-termfilechooser-hunkyburrito-git
	depends = yazi-git
	depends = zen-twilight-bin
	depends = zoxide
	provides = wrkx-misc-meta

pkgname = wrkx-misc-meta
